[submodule "class6/UnitConverter"]
	path = class6/UnitConverter
	url = https://github.com/twitter-university/UnitConverter.git
[submodule "class6/UnitConverterTest"]
	path = class6/UnitConverterTest
	url = https://github.com/twitter-university/UnitConverterTest.git
[submodule "class6/geo-quiz"]
	path = class6/geo-quiz
	url = https://github.com/wesreisz/bnr-geo-quiz.git
